@import "tailwindcss";

* {
    box-sizing: border-box;
}

.day-card {
    position: relative;
    z-index: 1;
}

.day-card__bg {
    position: relative;
    z-index: 1;
}

.day-card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.days-swiper {
    margin: 0 calc(var(--spacing) * 6 * -1);
    padding: 0 calc(var(--spacing) * 6);
    overflow: hidden;
}

.embla {
    overflow: visible;
}
.embla__container {
    display: flex;
    gap: 12px;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.codex-editor::selection {
    color: black;
}

.ce-block__content {
    margin: 0;
    max-width: unset;
    padding-left: 4rem;
}

.ce-toolbar {
    right: auto;
}

.ce-toolbar__actions {
    right: auto;
}

.cdx-input.image-tool__caption {
    display: none;
}

.image-tool--caption {
    padding: .4em 0;
}

.ce-toolbar__plus, .ce-toolbar__settings-btn {
    color: hsl(var(--heroui-foreground) / 1);
}

.ce-toolbar__plus:hover, .ce-toolbar__settings-btn:hover {
    background-color: hsl(var(--heroui-foreground) / 0);
}

.ce-block--selected .ce-block__content {
    background: rgb(0 0 0 / 21%)
}

.ce-popover__container {
    background-color: hsl(var(--heroui-content1) / 1);
    --tw-shadow: var(--heroui-box-shadow-medium);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.ce-popover-item {
    color: hsl(var(--heroui-foreground) / 1);
}

.ce-popover--opened>.ce-popover__container {
    border: 1px solid hsl(var(--heroui-content1) / 1);
}

.ce-popover-item:hover:not(.ce-popover-item--no-hover) {
    background: hsl(var(--heroui-foreground) / .1)
}

.cdx-search-field {
    background: hsl(var(--heroui-foreground) / .1)
}

.ce-inline-tool {
    color: hsl(var(--heroui-foreground) / 1)
}

.ce-inline-tool:hover {
    background: hsl(var(--heroui-foreground) / .1);
    color: hsl(var(--heroui-foreground) / 1)
}

.docs-heading-input {
    height: 24px;
}

.docs-heading-input input {
    font-size: 1rem;
}

.docs-heading-input [data-slot="inner-wrapper"] {
    padding-bottom: 8px
}

.docs-heading-input [data-slot="input-wrapper"]:after {
    display: none;
}

.docs-heading-input [data-slot="input-wrapper"] {
    box-shadow: none
}

.plant-header {
    top: calc(var(--spacing) * 3 + 3px);
    left: calc(var(--spacing) * 6);
    right: unset;
    z-index: 50;
    border: none;
    margin-left: 47px;
    padding: 5px 4px;
}

.plant-header__days {
    margin-top: -1px;
}

/*.ptdocs-header:hover ~ main .plant-header,*/
/*.plant-header:hover {*/
/*    top: 4rem;*/
/*}*/

.created-day {
    animation-name: createdDayAnimation;
    animation-duration: var(--tw-duration, var(--default-transition-duration));
    animation-iteration-count: 1;
}

.deleted-day {
    animation-name: deletedDayAnimation;
    animation-duration: var(--tw-duration, var(--default-transition-duration));
    animation-iteration-count: 1;
}

.fancybox__slide {
    padding-top: 1rem !important;
}

.plant-header__heading h1 {
    line-height: normal;
}

.f-panzoom__content {
    border-radius: var(--heroui-radius-large);
}

.f-carousel__toolbar__column {
    border-radius: var(--heroui-radius-large);
    overflow: hidden;
}

@keyframes createdDayAnimation {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes deletedDayAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@media (min-width: 1024px) {
    .day-card-date button {
        display: none;
    }

    .day-card-date {
        width: auto;
        min-width: 100px;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .plant-footer button {
        width: 32px;
        height: 32px;
        min-width: 32px;
    }

    .plant-days {
        overflow: hidden;
        margin: 0 -24px;
        padding: 0 24px;
    }

    .day-card {
        --width: 100%;
        width: var(--width);
        min-width: var(--width);
    }

    .plant-header > div {
        grid-template-columns: 1fr;
        z-index: 1;
        grid-gap: 1rem;
    }

    .plant-header img {
        height: 135px !important;
    }

    .plant-header button {
        padding: .3rem;
        font-size: .65rem;
        min-width: auto;
        flex-grow: 1;
    }

    .plant-header > div > div:last-child > div {
        display: none;
    }

    .plant-header > div > div:last-child > div > div button:first-child {
        display: none;
    }

    .plant-header > div > div:last-child > div > div button {
        height: auto;
        font-size: .6rem;
    }

    .plant-week:not(:last-child) {
        display: none;
    }

    .plant-days .embla__slide img {
        height: 125vw !important;
    }

    .plant-footer > div:first-child {
        display: none;
    }

    .plant-header > div > div {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .plant-header > div > div > div:nth-child(2) {
        display: none;
    }

    .plant-header > div > div + div {
        position: absolute;
        top: 1.3rem;
        right: .8rem;
    }

    .plant-header h1 {
        font-size: 1.1rem;
        max-width: 85%;
    }


    .plant-header h1 span {
        font-size: .8rem;
        margin-left: .1rem;
    }

    .docs-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .docs-wrapper > div {
        width: 100%;
    }

    .docs-wrapper > div:first-child .docs-nav-body {
        height: auto !important;
        overflow: auto;
    }

    html.dark .ce-toolbar__plus, .ce-toolbar__settings-btn {
        background: transparent;
        width: 30px;
        height: 30px;
    }

    .ce-block__content {
        padding-left: 4.5rem;
    }

    .docs-sidebar {
        order: 1;
    }

    .plant-header {
        margin: 0 calc(var(--spacing) * 6);
        width: calc(100% - var(--spacing) * 6 * 2);
        left: 0;
        right: 0;
        top: calc(var(--spacing) * 3 + 4rem);
    }

    .plant {
        padding-top: 4rem;
    }

    .plant-header h1 span {
        margin-left: .1rem;
        font-size: 1rem;
    }

    .plant-header > div > p span {
        display: block;
        font-size: .8rem;
    }

    .plant-header h1 + p {
        font-size: .76rem;
    }

    .plant-header {
        padding: 0.5rem 1rem;
    }

    .plant-header__days > p:first-child {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .3rem;
    }

    .f-button.is-arrow.is-prev, .f-button.is-arrow.is-next {
        display: none;
    }

    #docs-link {
        display: none;
    }
}


@config "../tailwind.config.js"